.aside {

	/* .aside__menu */
	&__menu {
		border-radius: 20px;
		background-color: #ffffff;
		width: 100%;
		padding: 35px;
	}

	/* .aside__menu-list */
	&__menu-list {
		li+li {
			margin-top: 25px;
		}
	}

	/* .aside__menu-item */
	&__menu-item {
		&:hover {
			color: #1a1a1a;
			position: relative;

			&::before {
				content: '';
				display: block;
				position: absolute;
				left: -35px;
				top: 50%;
				transform: translateY(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 7px 0 7px 8px;
				border-color: transparent transparent transparent #f1c038;
			}
		}
	}

	/* .aside__menu-link */
	&__menu-link {
		font-size: 12px;
		line-height: 20px;
		font-weight: 500;
		text-transform: uppercase;

	}

	/* .aside__articles */
	&__articles {
		margin-top: 50px;
	}

	/* .aside__cases */
	&__cases {
		margin-top: 50px;
	}

	/* .aside__partners */
	&__partners {}

	/* .aside__profile */
	&__profile {}
}

.a-articles {
	border-radius: 20px;
	background-color: #ffffff;
	width: 100%;
	padding: 25px;
	/* .a-articles__title */
	&__title {
		font-size: 22px;
		font-weight: 700;
	}

	/* .a-articles__list */
	&__list {
		margin-top: 25px;

		a+a {
			margin-top: 34px;
		}
	}

	/* .a-articles__item */
	&__item {
		display: grid;
		grid-template: 1fr / 71px 1fr;
		gap: 18px;
	}

	/* .a-articles__item-img */
	&__item-img {
		width: 71px;
		height: 71px;
		border-radius: 10px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .a-articles__item-inner */
	&__item-inner {
		display: flex;
		flex-direction: column;
	}

	/* .a-articles__item-title */
	&__item-title {
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
	}

	/* .a-articles__item-inner--bottom */
	&__item-inner--bottom {
		margin-top: 15px;
		display: flex;
		align-items: center;
	}

	/* .a-articles__item-date */
	&__item-date {
		margin-right: 22px;
		font-size: 15px;
		line-height: 20px;
		font-style: italic;
		color: #555555;
	}

	/* .a-articles__item-views */
	&__item-views {
		font-size: 15px;
		line-height: 20px;
		color: #555555;
	}

	/* .a-articles__btn */
	&__btn {
		margin-top: 25px;
	}
}

.a-cases {
	border-radius: 20px;
	background-color: #ffffff;
	width: 100%;
	padding: 25px;

	/* .a-cases__title */
	&__title {
		font-size: 22px;
		font-weight: 700;
	}

	/* .a-cases__list */
	&__list {
		margin-top: 25px;

		a+a {
			margin-top: 28px;
		}
	}

	/* .a-cases__item */
	&__item {
		display: block;
	}

	/* .a-cases__item-img */
	&__item-img {
		width: 130px;
		height: 83px;
		border-radius: 10px;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .a-cases__item-title */
	&__item-title {
		margin-top: 14px;
		font-size: 16px;
		font-weight: 500;
		line-height: 22px;
	}

	/* .a-cases__btn */
	&__btn {
		margin-top: 25px;
	}
}


.a-partners {
	border-radius: 20px;
	background-color: #ffffff;
	width: 100%;
	padding: 25px;

	/* .a-partners__title */
	&__title {
		font-size: 22px;
		font-weight: 700;
	}

	/* .a-partners__list */
	&__list {
		margin-top: 20px;
		border-top: 1px solid #edf0f3;
		padding-top: 15px;

		a+a {
			margin-top: 20px;
		}
	}

	/* .a-partners__item */
	&__item {
		display: grid;
		grid-template: 1fr / 48px 1fr 50px;
		gap: 10px;
		padding-bottom: 20px;
		border-bottom: 1px solid #edf0f3;
	}

	/* .a-partners__item-img */
	&__item-img {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .a-partners__item-inner */
	&__item-inner {}

	/* .a-partners__item-type */
	&__item-type {
		font-size: 11px;
		line-height: 20px;
		font-weight: 500;
		color: #868686;
		text-transform: uppercase;
	}

	/* .a-partners__item-title */
	&__item-title {
		font-size: 20px;
		line-height: 20px;
	}

	/* .a-partners__item-rating */
	&__item-rating {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 20px;

		i {
			color: $yellowColor;
			font-size: 18px;
		}
	}

	/* .a-partners__item-rating--value */
	&__item-rating--value {
		margin-left: 8px;
	}

	/* .a-partners__btn */
	&__btn {
		margin-top: 15px;
		border: none;
	}
}

.a-profile {
	display: grid;
	grid-template: auto auto auto / 1fr 1fr;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
	width: 100%;
	height: 308px;
	box-shadow: 0 5px 14px rgba(62, 65, 68, 0.09);
	border-radius: 20px;
	background-color: #ffffff;
	padding: 35px 26px 44px 20px;

	.list__item-wrapper {
		display: grid;
		grid-template: 1fr / 90px 1fr;
		gap: 16px;
		align-items: center;
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.list__item-img {
		grid-column: unset;
		grid-row: unset;
	}

	.list__item-inner {
		grid-column: unset;
		grid-row: unset;
		justify-self: flex-start;
	}

	.list__item-rating {
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.list__item-counter {
		grid-column: 2/3;
		grid-row: 2/3;
		justify-self: flex-end;
	}

	.list__item-btns {
		grid-column: 1/3;
		grid-row: 3/4;
		justify-self: center;

		.list__item-btn {
			width: 100%;
			max-width: 300px;
		}
	}

	&+.btn {
		margin: 24px auto 0 auto;
		width: 218px;
		height: 44px;
		font-size: 17px;
		line-height: 20px;
	}
}