//========LIST============================================================================================
.list {
	padding-bottom: 70px;

	&.bg {
		background-image: linear-gradient(to bottom, rgba(229, 238, 245, 0.3), rgba(229, 238, 245, 0));
	}

	&._aside {
		padding-bottom: 40px;

		@media (min-width:$mobile) {
			padding-bottom: 70px;
		}

		.list {
			&__body {
				margin-top: 0;
			}

			/* .list__item */
			&__item {

				min-height: 119px;
				height: auto;
				display: flex;
				flex-direction: column;
				&>* {
					@media (min-width:em(1350)) {
						margin-left: 40px;
					}

				}

				&:before {
					left: 30px;
					top: 50%;
					transform: translateY(-50%);

					@media (min-width:$mobileSmall) {
						top: 30px;
						transform: none;
					}

					@media (min-width:em(1350)) {
						top: 50%;
						transform: translateY(-50%);
					}
				}
				&-inner{
					position: static;
					@media (min-width:em(1350)){
						position: relative;
					}
				}

				@media (min-width:$mobileSmall) {
					display: grid;
					gap: 20px;
					grid-template: auto auto / 1fr 1fr;
				}

				@media (min-width:$tablet) {
					grid-template: auto auto auto / 1fr 1fr 1fr;
				}

				@media (min-width:em(1350)) {
					height: 119px;
					display: flex;
					gap: 0;
					flex-direction: row;

					&>* {
						margin-bottom: 0;
					}
				}
			}

		}

		.promocode {
			top: 0;
			left: 20px;

			@media (min-width:$mobileSmall) {
				left: 50%;
				transform: translateX(-50%);
			}

			@media (min-width:em(1350)) {
				left: 0;
				top: -100%;
				transform: none;
			}
		}
	}

	&._services {
		.list__body {
			margin-top: 0;
		}

		.list__item {
			min-height: 192px;
			height: auto;
			padding: 30px;
			align-items: flex-start;
			display: flex;
			flex-direction: column;

			&>* {
				justify-self: center;
				align-self: center;

				@media (min-width:em(1350)) {
					align-self: flex-start;
				}
			}

			&:before {
				top: 30px;
				transform: none;

				@media (min-width:em(1350)) {
					top: 50%;
					transform: translateY(-50%);
				}
			}

			@media (min-width:em(1050)) {
				display: grid;
				grid-template: auto auto / 1fr 1fr;
			}

			@media (min-width:em(1350)) {
				display: flex;
				flex-direction: row;
			}

			&-rating,
			&-counter {
				flex: auto;
				justify-content: center;
			}

			&-inner {
				grid-column: unset;
				grid-row: unset;
				flex: auto;

				@media (min-width:em(1050)) {
					flex: 0 1 567px;
				}

				&>* {
					max-width: 489px;
					width: 100%;
				}

				&--second {
					@media (min-width:em(1050)) {
						flex: 0 1 175px;
					}
				}
			}

			&-descr {
				margin-top: 21px;
			}

			&-counter {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			&-rating {
				@media (min-width:em(1050)) {
					justify-content: center;
				}
			}

			&-btns {
				@media (min-width:em(1050)) {
					justify-self: flex-start;
				}

				@media (min-width:em(1350)) {
					margin-top: 0;
				}
			}
		}
	}

	/* .list__container */
	&__container {}

	/* .list__title */
	&__title {
		font-size: 26px;
		font-weight: 700;
	}

	/* .list__descr */
	&__descr {
		margin-top: 18px;
		color: #5c5c5c;
		font-size: 15px;
		font-weight: 400;
		line-height: 26px;
	}

	/* .list__body */
	&__body {
		counter-reset: list;
		margin-top: 31px;
		display: flex;
		flex-direction: column;

		&>*+* {
			margin-top: 7px;
		}
	}

	&__btn {
		height: 42px;
		margin-top: 23px;
		width: 200px;
	}

	/* .list__item */
	&__item {
		list-style-type: none;
		padding-left: 32px;
		padding-right: 35px;
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 119px;
		box-shadow: 0 5px 14px rgba(62, 65, 68, 0.09);
		border-radius: 20px;
		background-color: #ffffff;
		align-items: center;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		position: relative;

		@media (min-width:$mobileSmall) {
			display: grid;
			grid-template: auto auto / 1fr 1fr;
			gap: 20px;
		}

		@media (min-width:$mobile) {
			grid-template: auto auto auto / 1fr 1fr 1fr;
		}

		@media (min-width:$tablet) {
			display: flex;
			gap: 0;
			flex-direction: row;
		}

		&>* {
			margin-bottom: 20px;
			justify-self: center;

			@media (min-width:$mobileSmall) {
				margin-bottom: 0;
			}

			@media (min-width:$tablet) {
				@include adaptiveValue("margin-left", 40, 20);
			}
		}

		&::before {
			counter-increment: list;
			content: counter(list);
			color: #d8dfe6;
			font-family: Montserrat;
			font-size: 20px;
			font-weight: 700;
			line-height: 32px;
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translateY(-50%);

			@media (min-width:$mobileSmall) {
				top: 30px;
				transform: none;
			}

			@media (min-width:$tablet) {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		@media (min-width:$tablet) {
			height: 119px;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			&>* {
				margin-bottom: 0;
			}
		}
	}

	/* .list__item-img */
	&__item-img {
		width: 90px;
		height: 90px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	/* .list__item-inner */
	&__item-inner {
		display: flex;
		flex-direction: column;
		grid-column: 1/2;
		grid-row: 2/3;
		justify-self: center;

		@media (min-width:$tablet){
			position: relative; 
		}

		@media (min-width:$tablet) {
			flex: 0 1 320px;
		}
	}

	/* .list__item-type */
	&__item-type {
		color: #868686;
		font-size: 11px;
		font-weight: 500;
		line-height: 20px;
		text-transform: uppercase;
		width: max-content;
	}

	/* .list__item-name */
	&__item-name {
		font-size: 20px;
		font-weight: 400;
		color: #1a1a1a;
		line-height: 20px;
		width: max-content;

	}

	/* .list__item-rating */
	&__item-rating {
		display: flex;
		align-items: center;

		@media (min-width:$tablet) {
			flex: 0 1 133px;
		}

		i {
			color: $yellowColor;
			font-size: 24px;
		}
	}

	/* .list__item-rating--value */
	&__item-rating--value {
		font-size: 20px;
		line-height: 20px;
		margin-left: 8px;
	}

	/* .list__item-counter */
	&__item-counter {
		@media (min-width:$tablet) {
			flex: 0 1 252px;
		}
	}

	/* .list__item-counter--list */
	&__item-counter--list {
		display: flex;
		align-items: center;

		li {
			font-size: 14px;
			font-weight: 500;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 23px;
		}
	}

	/* .list__item-counter--positive */
	&__item-counter--positive {
		background-color: #7fc480;
		color: #fff;
		border-radius: 10px 0 0 10px;
	}

	/* .list__item-counter--neutral */
	&__item-counter--neutral {
		background-color: #edf0f3;
		color: #000;
	}

	/* .list__item-counter--negative */
	&__item-counter--negative {
		background-color: #e98b8b;
		color: #fff;
		border-radius: 0 10px 10px 0;
	}

	/* .list__item-counter--reviews */
	&__item-counter--reviews {
		margin-top: 13px;
		font-size: 14px;
		line-height: 20px;
		white-space: nowrap;
	}

	/* .list__item-youtube */
	&__item-youtube {
		display: flex;
		align-items: center;

		@media (min-width:$tablet) {
			flex: 0 1 141px;
		}

		i {
			color: #e43434;
			font-size: 18px;
			margin-right: 10px;
		}
	}

	/* .list__item-btns */
	&__item-btns {
		display: flex;
		flex-direction: column;

		&>*+* {
			margin-top: 5px;
		}
	}

	/* .list__item-btn */
	&__item-btn {}

	/* .list__item-promocode */
	&__item-promocode {}
}



.promocode {
	min-width: 120px;
	height: 33px;
	position: absolute;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
	border-radius: 0 0 15px 15px;
	background-color: #ffffff;
	background-image: linear-gradient(to bottom, #3f9f2e 0%, #76e363 100%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding: 5px 10px;
	top: 0;
	left: 20px;

	@media (min-width:$mobileSmall) {
		left: 50%;
		transform: translateX(-50%);
	}

	@media (min-width:$tablet){
		left: 0;
		top: -100%;
		transform: none; 
	}

	/* .promocode__title */
	&__title {
		font-size: 6px;
		color: #fff;
		text-transform: uppercase;
	}

	/* .promocode__body */
	&__body {
		cursor: pointer;
		margin-top: 7px;
		font-size: 10px;
		font-weight: 900;
		color: #fff;
	}
}


//========================================================================================================================================================