@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProBla.woff2") format("woff2"), url("../fonts/GothaProBla.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProBlaIta.woff2") format("woff2"), url("../fonts/GothaProBlaIta.woff") format("woff");
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProBol.woff2") format("woff2"), url("../fonts/GothaProBol.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProBolIta.woff2") format("woff2"), url("../fonts/GothaProBolIta.woff") format("woff");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProIta.woff2") format("woff2"), url("../fonts/GothaProIta.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProLig.woff2") format("woff2"), url("../fonts/GothaProLig.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProLigIta.woff2") format("woff2"), url("../fonts/GothaProLigIta.woff") format("woff");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProMed.woff2") format("woff2"), url("../fonts/GothaProMed.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProMedIta.woff2") format("woff2"), url("../fonts/GothaProMedIta.woff") format("woff");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProNarBol.woff2") format("woff2"), url("../fonts/GothaProNarBol.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProNarMed.woff2") format("woff2"), url("../fonts/GothaProNarMed.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: GothaPro;
	font-display: swap;
	src: url("../fonts/GothaProReg.woff2") format("woff2"), url("../fonts/GothaProReg.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
