//========Buttons============================================================================================
.btn {
	height: 33px;
	width: 159px;
	border-radius: 6px;
	overflow: hidden;
	border: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 18px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	white-space: nowrap;
	transition: color 0.25s;
	position: relative;



	/* .btn_yellow */
	&_yellow {
		background-color: #f1bf38;

		&::before,
		&::after {
			box-sizing: inherit;
			content: '';
			position: absolute;
			transition: 0s;
			width: 100%;
			height: 100%;
		}

		&:before,
		&:after {
			// Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
			border: 2px solid transparent;
			border-radius: 6px;
			width: 0;
			height: 0;
		}

		// This covers the top & right borders (expands right, then down)
		&:before {
			top: 0;
			left: 0;
		}

		// And this the bottom & left borders (expands left, then up)
		&:after {
			bottom: 0;
			right: 0;
		}

		&:hover {
			color: $yellowColor;
			background: #fff;
		}

		// Hover styles
		&:hover::before,
		&:hover::after {
			width: 100%;
			height: 100%;
		}

		&:hover::before {
			border-top-color: $yellowColor; // Make borders visible
			border-right-color: $yellowColor;
			transition:
				width 0.25s ease-out, // Width expands first
				height 0.25s ease-out 0.25s; // And then height
		}

		&:hover::after {
			border-bottom-color: $yellowColor; // Make borders visible
			border-left-color: $yellowColor;
			transition:
				border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
				width 0.25s ease-out 0.5s, // And then exanding width
				height 0.25s ease-out 0.75s; // And finally height
		}

		// Start ::after in same position as ::before
		&::after {
			top: 0;
			left: 0;
		}

		// Change colors
		&:hover::before {
			border-top-color: $yellowColor;
			border-right-color: $yellowColor;
		}

		&:hover::after {
			border-bottom-color: $yellowColor;
			border-left-color: $yellowColor;
			transition: // Animate height first, then width
				height 0.25s ease-out,
				width 0.25s ease-out 0.25s;
		}
	}

	/* .btn_arrow */
	&_arrow {
		border: 1px solid #7fc480;

		i {
			margin-left: 8px;
		}

		&::before,
		&::after {
			box-sizing: inherit;
			content: '';
			position: absolute;
			transition: 0s;
			width: 100%;
			height: 100%;
		}

		&:before,
		&:after {
			// Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
			border: 2px solid transparent;
			border-radius: 6px;
			width: 0;
			height: 0;
		}

		// This covers the top & right borders (expands right, then down)
		&:before {
			top: 0;
			left: 0;
		}

		// And this the bottom & left borders (expands left, then up)
		&:after {
			bottom: 0;
			right: 0;
		}

		&:hover {
			color: #7fc480;
			background: transparent;
			border: none;
		}

		// Hover styles
		&:hover::before,
		&:hover::after {
			width: 100%;
			height: 100%;
		}

		&:hover::before {
			border-top-color: #7fc480; // Make borders visible
			border-right-color: #7fc480;
			transition:
				width 0.25s ease-out, // Width expands first
				height 0.25s ease-out 0.25s; // And then height
		}

		&:hover::after {
			border-bottom-color: #7fc480; // Make borders visible
			border-left-color: #7fc480;
			transition:
				border-color 0s ease-out 0.5s, // Wait for ::before to finish before showing border
				width 0.25s ease-out 0.5s, // And then exanding width
				height 0.25s ease-out 0.75s; // And finally height
		}

		// Start ::after in same position as ::before
		&::after {
			top: 0;
			left: 0;
		}

		// Change colors
		&:hover::before {
			border-top-color: #7fc480;
			border-right-color: #7fc480;
		}

		&:hover::after {
			border-bottom-color: #7fc480;
			border-left-color: #7fc480;
			transition: // Animate height first, then width
				height 0.25s ease-out,
				width 0.25s ease-out 0.25s;
		}
	}
}

//========================================================================================================================================================

//=========content===============================================================================================================================================
.content {

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 30px;
		margin-top: 50px;
	}

	p {
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		color: #5c5c5c;
	}

	p+p {
		margin-top: 30px;
	}

	ul {
		margin-top: 40px;
		margin-bottom: 35px;

		li {
			position: relative;
			padding-left: 20px;
			line-height: 1.3;

			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 6px;
				height: 6px;
				background-color: #f1bf38;
				border-radius: 50%;
				left: 0;
				top: 5px;
			}
		}

		li+li {
			margin-top: 20px;
		}
	}

	img {
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 20px;
		max-width: 50%;
	}

	/* ._single */
	&._single {
		ul li:before {
			background-color: #7fc480;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-size: 30px;
			line-height: 30px;
			font-weight: 400;
		}

		p {
			font-size: 17px;
			line-height: 26px;
		}

		em {
			padding-left: 40px;
			position: relative;
			display: block;

			&:before {
				font-family: "Font Awesome 6 Free";
				font-weight: 900;
				font-style: normal;
				content: "\f05a";
				color: $yellowColor;
				position: absolute;
				top: 5px;
				;
				left: 0;
			}
		}

		p+em {
			margin-top: 20px;

			@media (min-width:$mobile) {
				margin-top: 40px;
			}
		}
	}
}

//========================================================================================================================================================

//===========breadcrumbs=============================================================================================================================================

.breadcrumbs {

	/* .breadcrumbs__list */
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	/* .breadcrumbs__item */
	&__item {
		font-size: 16px;
		line-height: 38px;

		&+.breadcrumbs__item {
			margin-left: 5px;

			&::before {
				content: '/';

			}
		}
	}

	/* .breadcrumbs__link */
	&__link {}
}

//========================================================================================================================================================

//===========Titles=============================================================================================================================================

.title {
	font-size: 40px;

	/* .title_h1 */
	&_h1 {
		font-weight: 900;
	}
}

//========================================================================================================================================================

//===========PAGE=============================================================================================================================================
.page {
	&.bg {
		background-image: linear-gradient(to top, rgba(#e5eef5, 0), rgba(#e5eef5, 1));
		padding-top: 30px;
	}

	&._a-right {
		.page {
			padding-top: 40px;

			&__wrapper {
				flex-direction: column;
				margin-top: 0;

				@media (min-width:$mobile) {
					grid-template: 1fr / 1fr 335px;
					gap: 22px;
				}
			}

			&__title {
				font-size: 60px;
				font-weight: 900;
			}
		}
	}

	&._single {
		.page {
			&__title {
				@include adaptiveValue("font-size", 40, 24);
				font-weight: 400;
			}

			&__wrapper {
				gap: 47px;
			}
		}

		.b-cases {
			margin-top: 40px;

			@media (min-width:$mobile) {
				margin-top: 80px;
			}

			&__body {
				display: flex;
				flex-direction: column;
				padding-top: 36px;

				&>*+* {
					margin-top: 18px;
				}

				@media (min-width:$mobile) {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
					gap: 18px;

					&>*+* {
						margin-top: 0;
					}
				}

				@media (min-width:$tablet) {
					grid-template-columns: repeat(auto-fit, minmax(454px, 1fr));
				}
			}

			&__item-ibg {
				height: 271px;
			}

			&__btn {
				margin-top: 33px;
			}

			&__item-title {
				margin-top: 220px;

				@media (min-width:$mobileSmall) {
					margin-top: 200px;
				}
			}
		}

		.cases {
			margin-top: 40px;
		}
	}

	&._a-wide {
		.page {
			&__wrapper {
				grid-template: 1fr/333px 1fr;
				gap: 22px;
				margin-top: 27px;
			}
		}

		.a-partners {
			margin-top: 64px;
		}
	}

	&._partner {
		.page {
			&__wrapper {
				gap: 45px;
			}
		}
	}

	&._one-column {
		.page {
			&__wrapper {
				display: block;
			}
		}
	}

	/* .page__container */
	&__container {}

	/* .page__title */
	&__title {
		margin-top: 11px;
	}

	/* .page__wrapper */
	&__wrapper {
		margin-top: 40px;
		margin-bottom: 40px;
		display: flex;
		flex-direction: column-reverse;

		@media (min-width:$mobile) {
			display: grid;
			grid-template: 1fr / 288px 1fr;
			gap: 28px;
		}

		@media (min-width:$mobile) {
			margin-bottom: 100px;
		}

	}

	/* .page__aside */
	&__aside {
		margin-top: 40px;

		@media (min-width:$mobile) {
			margin-top: 0;
		}
	}

	/* .page__body */
	&__body {
		min-width: 0;
	}

	/* .page__list */
	&__list {}

	/* .page__content */
	&__content {}
}

//========================================================================================================================================================


.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: #fff;
}

.yellow {
	color: $yellowColor !important;
}

.white {
	color: #fff !important;
}